body{
    background-color: cornsilk;
    text-align: left;
}

.first h2{
    color: rgb(55, 55, 160);
}
.first h3{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}
.right h3{
    color: darkblue;
    
    font-family: 'Times New Roman', Times, serif;
}
li{
    margin-bottom: 3px;
    margin-top: 2px;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif; 

}
.right p{
    margin-top: 2px;
    font-size: 18px;
}

